{% extends 'base.html.twig' %}

{% block title %}ToDo List{% endblock %}

{% block body %}
    <div class="header">
    <h1>ToDO List</h1>

    <form action="{{path('create_task')}}" method="POST">
        <input type="text" name="title" placeholder="Task title">
        <button type="submit" class="addBtn">Add a task</button>
    </form>
    </div>
    <ul>
    {% for todo in tasks %}
        <li {% if todo.status %} class="checked" {% endif %}>
           <a href="{{path('update_task', {'id': todo.id})}}"><span class="task-list-item">{{todo.title}}</span></a>
           <a onclick="return confirm('Please confirm deletion')" href="{{path('delete_task', {'id': todo.id})}}"><span class="close">X</span></a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
